.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.page,
.nav,
.break {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.active {
  background: #4f46e5;
  border-color: #4f46e5;
  color: white;
}

.page:hover,
.nav:hover {
  background: #f5f5f5;
}
