.container {
  display: block;
  height: 1368px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.item {
  width: 276px;
  height: 424px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
  border-radius: 12px;
  background: #fff;
}

.favoriteOverlayBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  backdrop-filter: blur(4px);
  border-radius: 50%;
  cursor: pointer;
  transition:
    background 120ms ease,
    border-color 120ms ease,
    color 120ms ease;
}

.favoriteOverlayBtn.fav {
  color: #3b82f6;
}

.readMoreBtn {
  align-self: center;
  background-color: #3470ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition:
    background 120ms ease,
    box-shadow 120ms ease;
}

.readMoreBtn:hover {
  background: #2563eb;
}

.readMoreBtn:active {
  background: #1d4ed8;
}
.loadMoreBtn {
  margin: 32px auto 0 auto;
  background-color: #3470ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition:
    background 120ms ease,
    box-shadow 120ms ease;
}
.loadMoreBtn:hover {
  background: #2563eb;
}

.loadMoreBtn:active {
  background: #1d4ed8;
}
