.carPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.detais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #101828;
}
.h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #101828;
  margin-bottom: 8px;
}
.formBottom {
  margin-top: 8px;
}

@media (min-width: 769px) {
  .formBottom {
    max-width: 640px;
  }
}
